<div id="clearance" class="sign-up">

  <%= form_for @user do |form| %>
    <%= render partial: '/users/form', object: form %>

    <div class="submit-field form-group">
      <%= form.submit :Signup, :class => "btn btn-primary btn-lg form-control" %>
      <%# <button type="button" class="btn btn-primary btn-lg">Sign up</button> %>
    </div>
    

  <div class="other-links">
  <div class='acc'>Already have an account?</div>

    <div id='signup-button'>
      <%= link_to t(".sign_in"), sign_in_path %>
      </div>
    </div>
  <% end %>
</div>
