// "bootstrap-sprockets" must be imported before "bootstrap" and "bootstrap/variables"
@import "bootstrap-sprockets";
@import "bootstrap";

.sign-up {
  padding: 150px;
}
body {
  background-image: url('4.jpeg');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  line-height: 1.1;
  // color:black;
  // background-color: rgb(139, 131, 131);
}

.container {
  width: 500px;
  margin: 100px auto;
  padding: 20xp;
  background:black;
  background-color: rgba(0,0,0,0.6);
  border-radius: 40px;
  text-align: center; border-radius: 40px;
}