/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap-sprockets";
@import "bootstrap";


 
body {
   background-image: url('background.jpg');
   background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-position: right 0.3em bottom 0.1em;
    background-position: 0.5cm 0.1cm;
   
   font-family: open sans,sans-serif;
   font-weight: 300;
   font-size: 1.7rem;
 //   -webkit-background-size: cover;
 //  -moz-background-size: cover;
 //  -o-background-size: cover;
 //  background-size: cover;
 }

img {
 border-radius: 8px;
 margin: 20px 20px;
margin-bottom: 50px;
}

 h2 {
    font-style: italic;
    font-size: 3.7rem
}
 .link-to-text{
  font-size: 2.1rem;
  // width: 390px;
  // margin: 100px auto;
  // padding: 10xp;
  align-items: center;
  
 }

 .congratz-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

 }
 .punishment-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
 }
 .link-to-text1{

  font-size: 2.1rem;
  // width: 400px;
  // margin: 100px auto;
  // padding: 10xp;
  align-items: center;
  
 }
