<h1>Make a Promise!</h1>

<%= form_with scope: :promise, url: promises_path, local: true do |form| %>
 
  <p>
    <%= form.label :text, "Your promises:" %><br>
    <%= form.text_area :text %>
  </p>
 
  <p>
    <%= form.submit %>
  </p>
<% end %>