<%= image_tag('200.gif', draggable: "true", id: "drag1", :size => "1000x300",class: "center-block")%>

<h1>Congratulations <%= current_user.firstname %>, you kept your promise:</h1>
<h2>I promise <%=@promise.text%></h2>
<h1>You're awesome!</h1>
<h2>Would you like to make a new promise?</h2>

<%= link_to 'create a new promise', new_promise_path %>
