<% if signed_in? %>
<%= button_to 'Sign out', sign_out_path, method: :delete %>
<% end %>
<div class='container' id='show'>
<h1 class='logo'>iPromise</h1>

<h1 class="red-text text-center">Hi <%= current_user.firstname %>!</h1>
<h2 class="red-text text-center">Here are your promises:</h1>
    <% @promises.each do |promise| %>
    <div class="outer">
        <p><%= promise.text %></p>
    </div>
    <% end %>

<div id='create'>
<%= link_to 'create a new promise', new_promise_path %>
</div>
</div>
