<<<<<<< HEAD
<h1>Promises</h1>


<%= link_to 'Create a new promise', new_promise_path %>

=======
<h1>Promises#index</h1>
<p>Find me in app/views/promises/index.html.erb</p>

<ul>
    <% @promises.each do |promise| %>
    <li><%= promise.text %></li>
    <% end %>
</ul>

<%= link_to 'create a new promise', new_promise_path %>
>>>>>>> b906689df1656d312700e2055073f801624d4f01
