<h1>Hi <%= current_user.firstname %>!</h1>
<h2>Here are your promises:</h1>

<ul>
    <% @promises.each do |promise| %>
    <li><%= promise.text %></li>
    <%= link_to 'edit', edit_promise_path(promise) %>
    <% end %>
</ul>

<%= link_to 'create a new promise', new_promise_path %>
